

#ContentFrame {
	left: 50%;
	top: 1%;
	bottom: 1%;
	right: 1%;
	position: absolute;
}

#ContentModule {
    position: absolute;
    color: white;
    left: 6px;
    top: 70px;
    right: 32px;
    bottom: 70px;
    color: #DEDEDE;
}
#ContentModule .header { height: 24px; }
#ContentModule .body {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 0;
	right: 0;
    background-color: black;
    opacity: 0.89;
}
#ContentModule .footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 24px;
}
#ContentModule .footer .resize {
	position: absolute;
	bottom: 0;
	right: 0;
}

#ContentModule .gradient {
	background-image: -moz-linear-gradient(top, #656565 33%, #333333 77%);
	background-image: -webkit-linear-gradient(top, #656565 33%, #333333 77%);
	background-image: -ms-linear-gradient(top, #656565 33%, #333333 77%);
	background-image: -o-linear-gradient(top, #656565 33%, #333333 77%);
	filter:
		progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#333333',GradientType=0 );
}
