
/* Breathing animation */
.breathing {
	-moz-transition: background-color 6s linear;
	-webkit-transition: background-color 6s linear;
	transition: background-color 6s linear;
}

.fade2s {
    -moz-transition: opacity 2s cubic-bezier(1,1,0,0), background-color 6s linear;
    -webkit-transition: opacity 2s cubic-bezier(1,1,0,0), background-color 6s linear;
    transition: opacity 2s cubic-bezier(1,1,0,0), background-color 6s linear;
}

.fade3s {
    -moz-transition: opacity 3s cubic-bezier(1,1,0,0), background-color 6s linear;
    -webkit-transition: opacity 3s cubic-bezier(1,1,0,0), background-color 6s linear;
    transition: opacity 3s cubic-bezier(1,1,0,0), background-color 6s linear;
}

.fade1s {
    -moz-transition: opacity 1s cubic-bezier(1,1,0,0), background-color 6s linear;
    -webkit-transition: opacity 1s cubic-bezier(1,1,0,0), background-color 6s linear;
    transition: opacity 1s cubic-bezier(1,1,0,0), background-color 6s linear;
}


.fade_out {
	opacity: 0;
}
.no-csstransitions .fade_out {
	opacity: 1;
}
.fade_in {
	opacity: 1;
}