
a { text-decoration: none; color: inherit;}
body {
	background-color: black;

	font-size: 11px;
	font-family: Garamond, serif;

	color: #cecece;
}

h1
{
	font-size: 25px;
	padding: 0 19px;
	display: inline-block;
}

p
{
	padding: 5px;
}
ul {
	list-style-type: none;
}
li
{
	cursor: pointer;
	list-style-type: none;
	display: inline-block;
}

/* jPlayer */
#jPlayer {position:fixed;}

/* Breathing Background */

#Breathing {
	background-color: black;
}

.no-csstransitions #Breathing {
	display: none;
}

#Breathing img.Breathing {
	height: 100%;
	width: 100%;
}

/* content */

#container {
	display: none;
	background-color: black;
	opacity: 0.86;

	position: absolute;
	left: 40%;

	height: 50%;
	width: 39%;
	top: 25%;
	left: 33%;
	min-width: 200px;

	padding: 10px;

	color: white;

	z-index: 3;
}

/* cloak */
#cloak {
	display: none;
	z-index:50;
}

/* Bubble */
#Bubble {
	height: 400px;
    width: 400px;
    position: absolute;
    left: 20px; top: 60px;
    z-index: 3;
    font-size: 17px;
    display: none;
}
.innerBubble nav li {
	display: block;
	cursor: pointer;
}
.innerBubble nav li a {
	display: block;
	padding-right: 70px; margin-right: -70px;
	color: #551A8B;
}
.innerBubble nav li ul {
	display: none;
}
#Bubble.big .innerBubble {
	position: absolute;
	left: 25px;
	right: 25px;
	top: 17px;
	bottom: 25px;
	height: 350px;
}

#Bubble .outerBubble {
	behavior: url(css/PIE.htc);
	position: absolute;
	height: 200px;
	width: 200px;
    border-radius: 75%;
    background-color: transparent;
    z-index: 400;

}
#Bubble.big .outerBubble {
	behavior: url(css/PIE.htc);
	height: 400px;
	width: 400px;
	border-radius: 100%;
	background-color: #fff;
}
#Bubble img.bubble {
	left: 50px;
    height: 50%;
    width: 50%;
}
#Bubble.big img.bubble {
    left: -20px;
    top: -20px;
    width: 110%;
    height: 110%;
}
#Bubble .innerBubble {
	position: absolute;
	left: 0px;
	height: 0;
	padding-top: 30px;
}
.bubble {
	position: absolute;
    -webkit-transition: width 500ms, height 500ms, left 500ms, right 500ms, top 500ms, bottom 500ms, background-color 800ms;
    -moz-transition: width 500ms, height 500ms, left 500ms, right 500ms, top 500ms, bottom 500ms, background-color 800ms;
    -ms-transition: width 500ms, height 500ms, left 500ms, right 500ms, top 500ms, bottom 500ms, background-color 800ms;
    transition: width 500ms, height 500ms, left 500ms, right 500ms, top 500ms, bottom 500ms, background-color 800ms;
}

#Bubble nav { visibility: hidden;}
#Bubble.big nav { visibility: visible;}
