
a { text-decoration: none; color: inherit;}
body {
	background-color: black;

	font-size: 11px;
	font-family: Garamond, serif;

	color: #cecece;
}

h1
{
	font-size: 25px;
	padding: 0 19px;
	display: inline-block;
}

p
{
	padding: 5px;
}
ul {
	list-style-type: none;
}
li
{
	cursor: pointer;
	list-style-type: none;
	display: inline-block;
}
body {
	background-color: #aaa;
}
.toolbar {
	background-image: -moz-linear-gradient(top, #333 7%, #656565 33%, #1A1A1A 77%);
	background-image: -webkit-linear-gradient(top, #333 7%, #656565 33%, #1A1A1A 77%);
	background-image: -ms-linear-gradient(top, #333 7%, #656565 33%, #1A1A1A 77%);
	background-image: -o-linear-gradient(top, #333 7%, #656565 33%, #1A1A1A 77%);
	box-shadow:  0 3px 5px rgba(0, 0, 0, 0.5), inset 0 0 8px rgba(255,255,255, 0.75);
	filter:
		progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#090909'),
		progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#333333',GradientType=0 );

    min-width: 980px;
    position: relative;
    width: 100%;
    z-index: 100;
	height: 50px;
}
.toolbar * {
	height: 100%;
}
.toolbar .top {	display: table-cell; vertical-align: top; }
.toolbar .middle {	display: table-cell; vertical-align: middle; }
.toolbar .bottom {	display: table-cell; vertical-align: bottom; }
.toolbar .center { position: absolute; left: 33%; width: 33%; text-align: center;}
.toolbar .icon { height: 16px; width: 16px; 
	background-color: blue;
	filter:
		progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#090909')

}
.toolbar input {
	behavior: url(../css/PIE.htc);
	border: 1px solid #333333;
	border-radius: 5px;
	height: 20px;
	line-height: 18px;
	padding: 0px 8px;
	background-color: #dedede;
	color: #6C6E80;
	font-weight: bold;
	width: 196px;
	text-align: center;
	box-shadow: inset 1px 1px 1px 1px rgba(0,0,0, 0.25);
	cursor: pointer;
}
.toolbar input[readonly] {
	background-color: #333333;
	color: #dedede;
	font-size: 13px;
	height: 30px;
	line-height: 25px;
	border: 1px solid #1A1A1A;
	border-top-color: #090909;
	border-bottom-color: #565656;
	width: 250px;
}
.toolbar button { height: 22px; margin: 0 4px; background-color: #dedede;}
.header {
    border-bottom: 1px solid #090909;
    
}

.footer {
    border-top: 1px solid #090909;
    position: fixed;
    bottom: 0;
}
.toolbar a {
    color: #AAAAAA;
    display: inline-block;
    height: 45px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}
.toolbar .banner {
	margin-right:20px;
}
.toolbar .email { margin-left: 20px;}
.toolbar .social li { margin-right: 20px;}
.toolbar .player a { padding-top: 4px; }
.toolbar .player a span { width: 36px; height: 36px; display: inline-block; margin-left: 2x;}
.toolbar .player a.play span,
.toolbar .player a.pause span{ background: url(../img/pause_play.png) 0 0 no-repeat;}
.toolbar .player a.prev span,
.toolbar .player a.next span{ background: url(../img/prev_next.png) 0 0 no-repeat; width: 29px; height: 30px;}
.toolbar .player a.play span { background-position: 0px -111px;}
.toolbar .player a.pause span { background-position: 0px 0px;}
.toolbar .player a.prev span { background-position: 0px 0px;}
.toolbar .player a.next span { background-position: 0px -123px;}
/* jPlayer */
#jPlayer {position:fixed;}

/* Breathing Background */

#Breathing {
	background-color: black;
}

.no-csstransitions #Breathing {
	display: none;
}

#Breathing img.Breathing {
	height: 100%;
	width: 100%;
}

/* content */

#container {
	display: none;
	background-color: black;
	opacity: 0.86;

	position: absolute;
	left: 40%;

	height: 50%;
	width: 39%;
	top: 25%;
	left: 33%;
	min-width: 200px;

	padding: 10px;

	color: white;

	z-index: 3;
}

/* cloak */
#cloak {
	xdisplay: none;
	z-index:2;
}
#Bubble {
	height: 400px;
    width: 400px;
    position: absolute;
    text-align: center;
    z-index: 3;
}

.bubble {
	position: absolute;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    height: 75%;
    width: 75%;
    -webkit-transition: width 500ms, height 500ms, left 500ms, right 500ms, top 500ms, bottom 500ms;
    -moz-transition: width 500ms, height 500ms, left 500ms, right 500ms, top 500ms, bottom 500ms;
    -ms-transition: width 500ms, height 500ms, left 500ms, right 500ms, top 500ms, bottom 500ms;
    transition: width 500ms, height 500ms, left 500ms, right 500ms, top 500ms, bottom 500ms;
}

.bubble.big {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}
.bubble.innerBubble {
	z-index: 400;
}

nav {
	display: inline-block;
	position: relative;
	top: 50%;
	margin-top: -25%;
}

nav ul {
	color: #ccc;
}

